*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  block-size: 100%;
  margin: 0;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  max-height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "result details";
  align-items: end;
  column-gap: 30px;
}

.result {
  grid-area: result;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.result .search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  color: transparent;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 17px;
  height: 17px;
  color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text {
  line-height: 100%;
  font-size: 18px;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 5px 0;
  width: 225px;
  color: #fff;
  font-size: 18px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: end;
}

.content__details {
  grid-area: details;
  width: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list-container {
  height: 298px;
  overflow: auto;
  margin-top: 26px;
  position: relative;
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__list-item {
  display: block;
  padding: 0 3px;
}

.content__list-item:focus{
  outline: none;
}

.content__list-item:focus-visible {
  border: 1px solid #fff;
}

.content__list-item:hover .content__video-card-description-container {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.content__card-link_current{
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  height: 34px;
}